# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
*.log


# Environment / secrets  <-- IMPORTANT for PostgreSQL creds
.env
.env.*
*.env
*.env.*

# SQLite 
db.sqlite3
db.sqlite3-journal

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db