{% extends "custom_admin/admin_base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">{{ title }}</h2>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_form.as_p }}
                <label>Variant</label>
                <select name="variant" class="form-control select2">
                    <option value="">No Variant</option>
                    {% for variant in variants %}
                    <option value="{{ variant.uid }}">{{ variant.get_variant_name }}</option>
                    {% endfor %}
                </select>
                <label>Attribute Value (if affects image)</label>
                <select name="attribute_value" class="form-control select2">
                    <option value="">None</option>
                    {% for attr_value in attribute_values %}
                    <option value="{{ attr_value.uid }}">{{ attr_value }}</option>
                    {% endfor %}
                </select>
                <div class="cropper-container" style="display: none;">
                    <img id="cropper-image" style="max-width: 100%;">
                    <button type="button" class="btn btn-primary crop-image">Crop Image</button>
                </div>
                <button type="submit" class="btn btn-primary">Save Image</button>
            </form>
        </div>
    </div>
</section>
{% block extra_css %}
<link href="{% static 'admin/css/vendors/cropper.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
<script src="{% static 'admin/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'admin/js/vendors/cropper.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('.select2').select2();
    
    $('#imageInput').on('change', function() {
        var input = this;
        var $container = $('.cropper-container');
        var $image = $container.find('img');
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $container.show();
                $image.attr('src', e.target.result);
                var cropper = new Cropper($image[0], {
                    aspectRatio: 1,
                    viewMode: 1,
                });
                $container.find('.crop-image').off('click').on('click', function() {
                    var canvas = cropper.getCroppedCanvas({
                        width: 500,
                        height: 500
                    });
                    canvas.toBlob(function(blob) {
                        var reader = new FileReader();
                        reader.readAsDataURL(blob);
                        reader.onloadend = function() {
                            var base64data = reader.result;
                            $('input[name="cropped_image"]').val(base64data);
                            cropper.destroy();
                            $container.hide();
                        };
                    });
                });
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
});
</script>
{% endblock %}
{% endblock %}