{% extends "home/base.html" %}
{% load static %}
{% block title %}New password done{% endblock title %}

{% block main_content %}
<div class="container my-5">
    <div class="row">
        <div class="justify-content-center m-5">
        
        
        <h3 class="" >Welcome <span class="text-capitalize">{{request.user.username}} </span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url "profile" %}" class="btn">Profile</a> </li>
                <li class="d-grid"><a href="{% url "change_email" %}" class="btn">Change Email</a> </li>
                <li class="d-grid"><a href="{% url "profile_add_address" %}" class="btn">Add address</a> </li>
                <li class="d-grid"><a href="{% url "view_address" %}" class="btn">Address</a></li>
                <li class="d-grid"><a href="{% url "change_password" %}" class="btn btn-primary">New password</a></li>
            </ul>
        </div> 
        
        <div class="col-sm-8 offset-sm-1 p-5" style="padding:10px">
            <h3> Password Changed Done!!. </h3>
        </div>
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>
{% endblock main_content %}